  body {
	  background-image: url('/assets/festive/f-Panorama.png');
  }
  
  .panorama-button {
	  background-image: url("/assets/festive/f-btn-panorama.png");
  }
  
  .panorama-button:hover {
	  background-image: url("/assets/festive/f-btn-panorama-hover.png");
  }
  
  .guibox {
	  border-image: url('/assets/festive/f-guimenu.png');
    border-image-slice: 128 128 fill;
	  border-image-width: 64px;
    color: #AEC8D9;
  }
  
  .minecraft-button {
	  background-image: url('/assets/festive/f-btn-minecraft.png');
    color: #FFFFFF;
  }
  
  .minecraft-button:hover {
	  background-image: url('/assets/festive/f-btn-minecraft-hover.png');
    color: #AEC8D9;
  }
