---
layout: default
---
<head>
	<meta content="{{ page.title }}" property="og:title">
        <meta content="legacyminigames.net" property="og:site_name">
        <meta content="{% if page.image %}{{ page.image }}{% else %}{{ site.baseurl }}/assets/post-image-placeholder.png{% endif %}" property="og:image">
		<link type="application/json+oembed" href="{{ site.baseurl }}/assets/oembed.json">
</head>
<div class="guibox center">
	<h1>{{ page.title }}</h1>
	<img src="{% if page.image %}{{ page.image }}{% else %}{{ site.baseurl }}/assets/post-image-placeholder.png{% endif %}" style="width: 50%; height: auto; border: 2px solid black;">
	<div style="text-align: left; margin-top: 10px;">{%- if page.markdown != false -%}{{ page.main-text | markdownify }}{%- else -%}{{ page.main-text }}{%- endif -%}</div>
	<p><a href="{{ site.baseurl }}/faq" class="minecraft-button center">Return</a></p>
</div>
